@font-face {
  font-family: "Preahvihear";
  src: local("Preahvihear"),
    url(../../public//fonts/Preahvihear/Preahvihear-Regular.ttf)
      format("opentype");
  font-weight: normal 400;
}

@font-face {
  font-family: "PressStar";
  src: local("PressStar"),
    url(../../public//fonts/Press_Start_2P/PressStart2P-Regular.ttf)
      format("opentype");
  font-weight: normal 400;
}
